<html>
    <head>
        <title>Mentor-match - Modify Micromethod</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css" />
        <script src="../static/ckeditor/ckeditor.js"></script>
    </head>
    
    <body>
        
        <div id="menu">
            <div id="home">
                <a href="../">Home</a>
            </div>
            <div id="add">
                <a href="../add">Add a new method</a>
            </div>
            <div id="browse">
                <a href="../browse">Browse</a>
            </div>
            <div id="log">
                {% if user_logged_in %}
                Welcome {{ username }}! Click to <a href="{{ logout_url }}">log out</a>
                {% else %}
                Hello! Please <a href="{{ login_url }}">log in</a>
                {% endif %}
            </div>
        </div>
        <br/>
        <div id="back_button">
        {% if method_id != -1 %}
        <a href="../view?method_id={{ method_id }}">Go back to the method page</a>        
        {% else %}
        <a href="../">Go back to home</a>
        {% endif %}
        
        </div>
        
        <br/>
        <br/>

        <div id="edit_area">
            <form action="../add" method="post">
            
            <!--NOTE/TODO
                  The intention here is to make the text entry take place in a CKEditor or TinyMCE JS window
                This will allow users to make some rudimentary html code that will show up in the page
                for the micromethod such as images, lists etc.   We sanitize the code server-side so security
                shouldn't be too much of an issue. 
            -->
            
            
            
            <span class="author">
            {% if method_id != -1 %}
            Last edited by {{ editor }} on {{ timestamp }}
            {% else %}
            Creating a new entry...
            {% endif %}
            </span>
            <br/>
            <br/>
            <h2>Title</h2>
            <input type="text" rows=1 cols=80 name="title" value="{{ title }}">
            <br/>
            <select id="discipline_select" name="discipline">
                <option value="Qualitative">Qualitative</option>
                <option value="Visual">Visual</option>
                <option value="Communication">Communication</option>
                <option value="Industrial">Industrial</option>
                <option value="Interaction">Interaction</option>
                <option value="Software">Software</option>
                <option value="Tinkering">Tinkering</option>
                <option value="Business">Business</option>
                <option value="Research">Research</option>
            </select>
            
            <br/>
            <div class="editorwindow">
                <h2>Description</h2>
                <textarea class="ckeditor" type="textarea" rows=4 cols=120 name="description">{{ description }}</textarea>
            </div>
            <div class="editorwindow">
                <h2>Why it matters</h2>
                <textarea class="ckeditor" type="textarea" rows=4 cols=120 name="matters">{{ matters }}</textarea>
            </div>
            <div class="editorwindow">
                <h2>Activity</h2>
                <textarea class="ckeditor" type="textarea" rows=8 cols=120 name="activity">{{ activity }}</textarea>
            </div>
            <div class="editorwindow">
                <h2>Authors</h2>
                <textarea class="ckeditor" type="textarea" rows=3 cols=120 name="authors">{{ authors }}</textarea>
            </div>
            <div class="editorwindow">
                <h2>References</h2>
                <textarea class="ckeditor" type="textarea" rows=3 cols=120 name="references>">{{ references }}</textarea>
            </div>
            
            <input type="text" name="method_id" value="{{ method_id }}" style="display: none"> 
                              
            <br/>                  
                              
            <input type="submit" value="Submit">
            </form>
        
        
        </div>
            
    
    <script>
    
    item = document.getElementById("discipline_select")
    for ( var i = 0; i < item.options.length; i++ ) {
        if ( item.options[i].value === "{{ discipline }}" ) {
            item.options[i].selected = true;
        }
    }

    
    </script>    
        
        
    </body>
        
</html>