<html>
    <head>
        <title>Mentor-match - Browse Micromethods</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css" />
    </head>
    
    <body>
        
        <div id="menu">
            <div id="home">
                <a href="../">Home</a>
            </div>
            <div id="add">
                <a href="../add">Add a new method</a>
            </div>
            <div id="browse">
                <a href="../browse">Browse</a>
            </div>
            <div id="log">
                {% if user_logged_in %}
                Welcome {{ username }}! Click to <a href="{{ logout_url }}">log out</a>
                {% else %}
                Hello! Please <a href="{{ login_url }}">log in</a>
                {% endif %}
            </div>
        </div>
        
        <br/>
        <br/>
        
        <div id="searchbar">
            <form action="../browse" method="get">
            
            <select id="discipline_select" name="discipline">
                <option value="All">All</option>
                <option value="Qualitative">Qualitative</option>
                <option value="Visual">Visual</option>
                <option value="Communication">Communication</option>
                <option value="Industrial">Industrial</option>
                <option value="Interaction">Interaction</option>
                <option value="Software">Software</option>
                <option value="Tinkering">Tinkering</option>
                <option value="Business">Business</option>
                <option value="Research">Research</option>
            </select>
            
                               
            <input type="submit" value="Search">
            </form>
        
        
        </div>
        
        <div id="results">
            <table>
            {% for rev in search_results %}
            <tr>
             <td><span class="title"><a class="row" href="../view?method_id={{ rev.id }}">{{ rev.title }}</a></span></td>
             <td><span class="type"><a class="row" href="../view?method_id={{ rev.id }}">{{ rev.type }}</a></span></td>
             <td><span class="time"><a class="row" href="../view?method_id={{ rev.id }}">{{ rev.timestamp }}</a></span></td>
             <td><span class="assigned">{% if rev.assigned %} Assigned {% endif %}</span></td>
             <td><span class="completed">{% if rev.completed %} Completed {% endif %}</span></td>
            </td>
            {% else %}
            <tr><td>
            <span class="row none_found">No micromethods found.</span>
            </td></tr>
            {% endfor %}
            </table>
        </div>
        
        
        <div id="pages">
        {% for number in range(1, num_pages) %}
            <a href="../browse?text={{ text }}&discipline={{ discipline }}&offset={{ number }}">
            {{ number }}&nbsp;
            </a> 
        {% endfor %}
        </div>
    	    
    
    
    
    
    <script>
    
    item = document.getElementById("discipline_select")
    for ( var i = 0; i < item.options.length; i++ ) {
        if ( item.options[i].value === "{{ discipline }}" ) {
            item.options[i].selected = true;
        }
    }

    
    </script>    
        
        
    </body>
        
</html>