<html>
    <head>
        <title>Mentor-match - Home</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css" />
    </head>
    
    <body>
        
        <div id="menu">
            <div id="home">
                <a href="../">Home</a>
            </div>
            <div id="add">
                <a href="../add">Add a new method</a>
            </div>
            <div id="browse">
                <a href="../browse">Browse</a>
            </div>
            <div id="log">
                {% if user_logged_in %}
                Welcome {{ username }}! Click to <a href="{{ logout_url }}">log out</a>
                {% else %}
                Hello! Please <a href="{{ login_url }}">log in</a>
                {% endif %}
            </div>
        </div>
        
        <br/>
        <div id="results">
            <table>
            {% for rev in latest_methods %}
            <tr>
             <td><span class="title"><a class="row" href="../view?method_id={{ rev.id }}">{{ rev.title }}</a></span></td>
             <td><span class="type"><a class="row" href="../view?method_id={{ rev.id }}">{{ rev.type }}</a></span></td>
             <td><span class="time"><a class="row" href="../view?method_id={{ rev.id }}">{{ rev.timestamp }}</a></span></td>
            </td>
            {% else %}
            <tr><td>
            <span class="row none_found">No micromethods found.</span>
            </td></tr>
            {% endfor %}
            </table>
        
        </div>
        
    	    
    
            
    </body>
        
</html>