<html>
    <head>
        <title>Mentor-match - {{ title }}</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css" />
    </head>
    
    <body>
        
        <div id="menu">
            <div id="home">
                <a href="../">Home</a>
            </div>
            <div id="add">
                <a href="../add">Add a new method</a>
            </div>
            <div id="browse">
                <a href="../browse">Browse</a>
            </div>
            <div id="log">
                {% if user_logged_in %}
                Welcome {{ username }}! Click to <a href="{{ logout_url }}">log out</a>
                {% else %}
                Hello! Please <a href="{{ login_url }}">log in</a>
                {% endif %}
            </div>
        </div>
        
        <br/>
        
        <div id="edit_button">
        <a href="../add?method_id={{ method_id }}">Edit this method</a>        
        </div>
        <br/>
            
        <div id="method">
        
        <span id="author_time">Last edited by {{ username }} on {{ timestamp }}</span></p>
        <h1><span id="title">{{ title }}</span></h1>
        <h2>Description</h2>
        <span id="description">{{ description|safe }}</span>
        <h2>Why it matters</h2>
        <span id="matters">{{ matters|safe }}</span>
        <h2>Activity</h2>
        <span id="activity">{{ activity|safe }}</span>
        <h2>Authors</h2>
        <span id="authors">{{ authors|safe }}</span>
        <h2>References</h2>
        <span id="references">{{ references|safe }}</span>
        
        </div>
        
        <br/>
        
        <div id="signup">
            {% if assigned %}
            Assigned on {{ assigned_on }}
            {% if completed %} and COMPLETED! {% endif %} 
            {% else %}
            <a href="../signup?method_id={{ method_id }}">Click here to sign up to complete this method</a>
            {% endif %}
        </div>

        <br/>
        <br/>
        <div id="comments">
            {% for comment in comments %}
             <span class="comment">{{ comment.comment }}</span>
             <br/>
             <span class="commenter_time">-- Made by {{ comment.username }} on {{ comment.timestamp }}</span>
             <br/>
            <br/>
            {% else %}
            <span class="comment none_found">No comments.</span>
            {% endfor %}
        </div>


        <div id="new_comment_area">
            <form action="../comment" method="post">
            
            <input type="textarea" rows=4 cols=80 name="comment" value="">
            
            <input type="text" name="method_id" value="{{ method_id }}" style="display: none">
            
            <input type="submit" value="Comment">
            </form>
        
        
        </div>
       
        
        
    </body>
        
</html>